.posts{
    margin-top: 30px;
    transform: translate(30%,10%);
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 900px;
    height: 70px;
    padding: 10px;
    position: relative;

    &-add{
        position: relative;

        &:hover img{
            opacity: 0.3;
            transition: .3s;
        }
        input{
            width: 100%;
            padding: 15px 127px 15px 36px;
            border-radius: 100px;
            border: none;
            background-color: rgba(256,256,256,0.3);
            font-size: 15px;
        }

        &__plus{
            width: 27px;
            position: absolute;
            left: 10px;
            top: 10px;
            opacity: 0;
            cursor: pointer;
        }

        &__icons{
            position: absolute;
            right: 30px;
            top: 8px
        }

        &__photo{
            width: 27px;
            margin-right: 10px;
            cursor: pointer;
            opacity: 0
        }
        &__video{
            height: 24px;
            width: 29px;
            cursor: pointer;
            opacity: 0
        }
        &__music{
            margin-right: 10px;
            height: 23px;
            cursor: pointer;
            opacity: 0
        }
    }
}

.post{
    margin-top: 20px;
    transform: translate(30%,10%);
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 900px;
    padding: 15px;
    position: relative;
}