.user-btn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 45px;  
}

.hide-users{
    padding: 10px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 150px;
    margin:10px 20px;
    position: absolute;
    right: 30px;
    top: 60px;
    animation-name: toggle-out;
    animation-duration: .3s;
}

@keyframes toggle-out {
    from{
        right: 30px;
    }
    to{
        right: -20px;
    }
}

.users{
    padding: 10px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 150px;
    margin:10px 20px;
    position: absolute;
    right: 30px;
    top: 60px;
    animation-name: toggle;
    animation-duration: .3s;

    @keyframes toggle {
        from{
            right: -20px;
        }
        to{
            right: 30px;
        }
    }

    h2{
        text-align: center;
    }

    li{
        padding: 5px 12px;
        color: white;
        cursor: pointer;

        &:hover{
            background-color: rgba(255,255,255,0.2);
            border-radius: 4px;
        }
    }
}

.arrow-down{
    width: 20px;
    cursor: pointer;
    margin-left: 40%;
}