.navbar{
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 10px 14px;

    &-logo{
        margin-right: 30px;

        img{
            height: 40px;
        }
    }

    &-filter {
        position: relative;

        img{
            height: 16px;
            position: absolute;
            left: 15px;
            top: 12px;
        }

        input{
            padding: 11px 127px 12px 36px;
            border-radius: 100px;
            border: none;
            background-color: #F1F2F5;
            font-size: 15px;
            }
        }

    &-links {
        position: relative;
        margin-left: 250px;
        width: 100%;

        &__home img{
            width: 26.5px;
            height: 27px;
            position: absolute;
            top: 5px;
            left: 0;
        }

        &__posts img{
            width: 26.5px;
            height: 19px;
            position: absolute;
            top: 10px;
            left: 100px;
        }

        &__profile a{
            position: absolute;
            right: 0;
            cursor: pointer;
        }
    }
}