.registration{
    margin: 0 auto;
    top: 70px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    width: 500px;
    min-height: 500px;
    padding: 15px;
    position: relative; 
    
    h1{
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
    }
}